<!DOCTYPE html>
<html>

<head>
  <title>Recipe Master</title>
  <link href="site.css" rel="stylesheet">
</head>

<body>
  <nav id="navbar"></nav>

  <div id="main">
  <h1>Recipe Master</h1>

  <p><u> ADD RECIPES </u></p>

  <form action="#" method="get">
Ingredient: <input type="text" name="name" placeholder="Ingredients"></input><br/>
Ingredient: <input type="text" name="name" placeholder="Ingredients"></input><br/>
Ingredient: <input type="text" name="name" placeholder="Ingredients"></input><br/>
Ingredient: <input type="text" name="name" placeholder="Ingredients"></input><br/>
Ingredient: <input type="text" name="name" placeholder="Ingredients"></input><br/>
Ingredient: <input type="text" name="name" placeholder="Ingredients"></input><br/>
Ingredient: <input type="text" name="name" placeholder="Ingredients"></input><br/>
Ingredient: <input type="text" name="name" placeholder="Ingredients"></input><br/>
Ingredient: <input type="text" name="name" placeholder="Ingredients"></input><br/>
Ingredient: <input type="text" name="name" placeholder="Ingredients"></input><br/>
Ingredient: <input type="text" name="name" placeholder="Ingredients"></input><br/>
Ingredient: <input type="text" name="name" placeholder="Ingredients"></input><br/>


<input type="submit" name="submit" value="Submit"></input>
</form>

  <footer id="footer"></footer>
  </div>

  <script src="script.js"></script>
</body>
</html>
