<!DOCTYPE html>
<html>

<head>
  <title>Recipe Master</title>
  <link href="site.css" rel="stylesheet">
</head>

<body>
  <nav id="navbar"></nav>

  <div id="main">
  <h1>Recipe Master</h1>
  <p>SEARCH RECIPES</p>

	<form action="post.html" method="post">
	Diet: <input type="text" name="search" value="diet"></input><br>
	Recipe Name: <input type="text" name="recipename" value="recipename"></input>
	</form>
    <ul>
    {% for recipe in diet %}
    Diet: {{ recipe }}

    {% endfor %}

    {% for title in recipename %}
    Recipe: 
    <li>{{ title }}</li>

    {% endfor %}
    </ul>
  <footer id="footer"></footer>
  </div>

  <script src="script.js"></script>
</body>
</html>