body{
	font-family: 'News Cycle', sans-serif;
	font-size: 16px;
	background-image: url(https://images.unsplash.com/photo-1444952483853-7c36e902e722?crop=entropy&dpr=1.80&fit=crop&fm=jpg&h=775&ixjsv=2.0.0&ixlib=rb-0.3.5&q=55&w=1425);
	background-size: 100% ;
	color: #696969;
	padding: 20px;
}

#main {
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #ffffff;
	border-radius: 0 0 5px 5px;
	opacity: 0.8;
}

h1 {
	font-family: 'Abril Fatface';
	border-bottom: 5px solid #6ac9bc;
	color: #2b2b2b;
	font-size: 55px;
}

h2 {
	font-family: 'News Cycle', sans-serif;
	color: black;
	font-size: 27px;
}

p {
	font-family: 'News Cycle', sans-serif;
	color: black;
	font-size: 16px;
}

ul#menu {
	padding:0;
	margin-bottom: 10px;
}

ul#menu li {
	display: inline;
	margin-right: 3px;
}

ul#menu li a {
	background-color: #ffffff;
	padding: 10px 20px;
	text-decoration: none;
	color: #696969;
	border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
	color: white;
	background-color: #abaaaa;
}