<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Recipe Master</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='skeleton.css') }}">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="my-container">
    <img src="https://images.unsplash.com/photo-1424847651672-bf20a4b0982b?crop=entropy&dpr=1.80&fit=crop&fm=jpg&h=775&ixjsv=2.0.0&ixlib=rb-0.3.5&q=55&w=1425">


  <div class="container">
    <div class="row">
      <div class="two column" style="margin-top: 25%">
        <h2><strong><center>Recipe Master</h2></center></strong>
        <center><p>Find Perfect Recipes that Fits Your Diet!</p></center>
      </div>
  <div class="offset-by-five columns">
    <a class="button button-primary" a href="/home">Go!</a>
      </div>

  </div>
  </div>
  </div>
  </div>
  </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>